body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 200px;
    overflow: hidden;
}

h1 {
    font-size: 36px;
    margin: 24px 0;
    font-weight: normal;
}

h2 {
    font-size: 21px;
    font-weight: normal;
    margin: 18px 0;
}

p {
    font-size: 15px;
    font-size: 15px;
    margin: 18px 0;
}

.header-crop img {
    margin-top: -280px;
    width: 100%;
}

.container {
    max-width: 984px;
    justify-content: left;
}

.logo {
    position: relative;
    top: -71px;
    width: 142px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: -71px;
}

.logo img {
    width: 100%;
    height: auto;
}

