body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 200px;
    overflow: hidden;
}

h1 {
    font-size: 36px;
    margin: 12px 0;
    font-weight: normal;
}

h2 {
    font-size: 21px;
    font-weight: normal;
    margin: 18px 0;
}

p {
    font-size: 15px;
    font-size: 15px;
    margin: 18px 0;
}

.header-crop img {
    margin-top: -280px;
    width: 100%;
}

.container {
    max-width: 984px;
    justify-content: left;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 18px;
    grid-row-gap: 18px;
}

.logo {
    position: relative;
    top: -71px;
    width: 142px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: -71px;
}

.logo img {
    width: 100%;
    height: auto;
}

.grid-columns-all {
    grid-column: 1/7;
}

.section--about {
    grid-column: 1/6;
    grid-row: 3/6;
}

.section--area-of-focus {
    grid-column: 1/4;
}

.image-with-text {
    display: flex;
}

.image-with-text > img {
    object-fit: contain;
    align-self: flex-start;
}

.image-with-text > div {
    align-self: center;
    margin-left: 6px;
}

.section--follow-us .image-with-text {
    margin: 12px 0;
}

.profile-photo {
    width: 48px;
    height: auto;
    border-radius: 50%;
}

.icon {
    width: 18px;
    height: auto;
}

.tags-container {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
 }

 .tags-container .icon {
    padding: 3px;
 }

 .tag {
    font-size: 15px;
    background-color: #f0f0f0;
 }

 .icon.internet {
     background-color: #5A4D99;
 }

 .icon.culture {
    background-color: #BFCC36;
}

.icon.handshake {
    background-color: #1A587A;
}